/* common shared  styles */
body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    padding: 15px 35px;
    font-size: 20px font-weight: 700;

}

/* nav related styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;

}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
    /* align-items: center; */
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* Header related styles */
header {
    background-color: #FFF8F3;
    /* width: 1500px;
    height: 837px; */
    background-image: url(/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    /* background-image: url(/images/developer.png);
    background-position: left; */
}

.banner {
    display: flex;
    padding: 30px 30px 0px 150px;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    width: 500px;

}

.banner-msg {
    font-size: 45px;
    color: #474747;
    font-weight: 600;
    margin: 0px;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    color: #181818;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-description {
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    margin-top: 30px;
}

.banner-img {
    width: 500px;
    /* height: 676px; */
    /* background-image: url(/images/header_bg.png);
    background-position: bottom right;
    background-repeat: no-repeat;
     */
}